# Google AI Studio API Key
GOOGLE_API_KEY=""

# GCP Project Configuration
GOOGLE_CLOUD_PROJECT="skillful-signer-491109-r0"
REGION="europe-west1"

# Database Configuration (Set after running terraform)
DB_PASSWORD=""

# MCP Toolbox URL
TOOLBOX_URL="http://127.0.0.1:5000"
